#presentacion{
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
}


#presentacion {
    height: 90vh;
    display: flex;
    justify-content: start;
    align-items: center;
    background-image: url("assets/cover.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.proyecto{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.texto-gigante{
    font-size: 80px;
}

#proyecto-1{
    background-image: url('assets/logo.png');
}

#proyecto-2{
    background-image: url('assets/paginapersonal.PNG');
}

.text-shadow-1 {
    text-shadow: -2px 0px 6px rgba(0, 0, 0, 1);
}
